* {
    margin: 0;
    padding: 0;
}

:root {
    --brand-color-dark: #293E81;
    --brand-color-light: #D66E24;
    --brand-secondary-color: #e7e7e7;
    --background-main-color: #ffffff;
    --background-secondary: #F8F8F8;
    --regular-font-color: #000000;
    --secondary-text: #707070;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

section {
    margin-top: 40px;
}

input {
    outline: none;
}

.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

body {
    font-family: 'Geometria';
}

select {
    color: var(--brand-color-light);
    font-family: 'Geometria';
    font-size: 16px;
    border: none;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
}

li {
    font-size: 16px;
    font-weight: 500;
    color: var(--brand-color-dark);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--regular-font-color);
}

h3 {
    color: var(--brand-color-dark);
    font-weight: 500;
    font-size: 18px;
}

h2 {
    color: var(--brand-color-dark);
}