.header__container {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: none;
}

header {
    background-color: var(--background-main-color);
    padding: 16px 0;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

li:hover {
    color: var(--brand-color-light);
}

.main-menu__element {
    display: inline;
}

.search {
    background: url("../img/search.svg") no-repeat left;
    background-size: 22px;
    border: 1px solid var(--brand-secondary-color);
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}